@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
	  font-family: "Quicksand", "sans-serif";
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body {
		background-color: #434c5e;
	}

	.titlebar {
		background-color: #2e3440;
		margin-bottom: 5px;
		color: #e5e9f0;
		text-align: center;
	}

	.titlebar h1 {
		padding: 1rem;
	}

	.img-container {
		height: 10rem;
		width: 100%;
		padding: 0.7rem;
	}

	.img-container img {
		height: 100%;
		width: 100%;
	}

/* Style for the music gallery container */
.music-gallery {
	display: flex;
	flex-wrap: wrap;
}

/* Style for each music item */
.music-item {
	width: 250px;
	margin: 10px;
	border: 1px solid #ccc;
	padding: 10px;
	/* background: linear-gradient(to bottom, #f5c2e7, #cba6f7); */
	background: linear-gradient(to bottom, #e5e9f0, #3b4252);
}

/* Style for the audio controls */
audio {
    width: 100%;
}

/* Style for the audio control bar */
input[type="range"] {
    height: 4px;
    width: 100%;
    background: #ccc; /* Background color */
    border: none;
    border-radius: 5px;
}

/* Style for the progress bar */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px; /* Width of the progress thumb */
    height: 10px; /* Height of the progress thumb */
    background: #3498db; /* Color of the progress thumb */
    border-radius: 50%;
    cursor: pointer;
}

/* Style for the play/pause button */
audio::-webkit-media-controls-play-button {
    background-color: #3498db; /* Color of the play button */
    border-radius: 50%;
    width: 30px; /* Width of the play button */
    height: 30px; /* Height of the play button */
}

/* Remove other control buttons */
audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-overflow-button {
    display: none;
}
